BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
AlignAfterOpenBracket: Align
BreakBeforeBraces: Allman 
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
DerivePointerAlignment: false
PointerAlignment: Left
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AccessModifierOffset: -4
TabWidth: 4
UseTab: Never
